<h1>Hãy hỏi cộng động một câu hỏi đúng/sai hoặc có không?</h1>

<form action="/api/question" method="POST">
    <textarea name="question" id="" cols="30" rows="10"></textarea>
    <button>Gửi</button>
</form>

