<div class="coitainer">
    <h1 class="text-center content">{{question.content}}</h1>
    <div class="row">
        <div class="col-md-6 text-center">
            <a class="btn btn-danger btn-lg" href="/question/{{question._id}}/no">
                <i class="far fa-thumbs-down">Sai/Không/Trái</i>
            </a>
        </div>
        <div class="col-md-6 text-center">
            <a class="btn btn-primary btn-lg" href="/question/{{question._id}}/yes">
                <i class="far fa-thumbs-up">Đúng/Có/Phải</i>
            </a>
        </div>
    </div>
    <div class="text-center nav-btn">
        <a href="/question/{{question._id}}" class="btn btn-outline-secondary">Kết quả vote</a>
        <a href="/" class="btn btn-outline-secondary">Câu hỏi khác</a>
    </div>

</div>


<script>
    const current = document.getElementById('answer');
    current.classList.add('active');
</script>